
<div class="panel">
	<div class="panel-body">
		<% if message.user.avatar_content_type == nil %>
			<%= image_tag avatar_url(message.user.id), class: "image-circle avatar-small" %>&nbsp;
		<% else %>
			<%= image_tag(message.user.avatar.url(:thumb), class: "img-circle avatar-small") %>&nbsp;
		<% end%>
		
		<strong><%= message.user.fullname %></strong>
		<span class="pull-right"><%= message.message_time %></span>
		<br>
		<div class="row-space-2">
			<%= message.content %>
		</div>
	</div>
</div>


<!-- we display a single message instead all of them because we don't want to download all of them
	every time we send a request to the server -->