<div class="row">
	<div class="col-md-3">
		<div class="center">
			<% if !@user && current_user.avatar_content_type == nil %>
				<%= image_tag avatar_url(params[:id]), class: "avatar-full" %>
			<% elsif !@user %>
				<%= image_tag(current_user.avatar.url(:medium), class: "img-responsive", style:"width:100%;")%>
			<% else %>
				<%= image_tag(@user.avatar.url(:medium), class: "img-responsive", style:"width:100%;")%>
			<% end%>

			<% if current_user != @user %>
				<div class="row-space-2">
					<%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>
				</div>
			<% end %>

	</div>
		<div class="panel panel-default">
			<div class="panel-heading">Verification</div>	
			<div class="panel-body">
				<% if !@user %>
					Email: <%= current_user.email %><br>
				    Phone number: <%= current_user.phone_number %>
				    <% else %> 
				    	Email: <%= @user.email %><br>
						Phone number: <%= @user.phone_number %>
					<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<h2><%= @user.fullname %></h2>

		<div class="description row-space-3">
			<h3><%= @user.description %></h3>
		</div>
		
		<p><h2>Listings (<%= @rooms.length %>)</h2><br>

		<div class="row">
			
			<% @rooms.each do |room| %>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading preview">
							<%= image_tag room.photos[0].image.url(:medium) %>
						</div>
						<div class="panel-body">
							<%= link_to room.listing_name, room %>
						</div>
					</div>
				</div>
			<% end %>

		</div>
</p>
		
<h4>Reviews</h4>
		<% @rooms.each do |r| %>

			<% if !r.reviews.blank? %>
				<% r.reviews.each do |rev| %>
				
				<div class="row">
					<div class="col-md-2 text-center">
						<%= image_tag avatar_url(rev.user.id), class: "img-circle avatar-medium" %> <br>
						<%= rev.user.fullname %>
					</div>
					<div class="col-md-10">
						<%= link_to r.listing_name, r %><br>
						<%= rev.comment %><br>
						<%= rev.created_at.strftime("%v") %>
					</div>

				</div>
				<% end %>
			
		<% end %>
		<% end %>
</div>
	</div>
</div>