<% if @reviews.count == 0 %>
<div class="text-center">
	<h3>There are no reviews at the moment</h3><br>
</div>
<% else %>
	<% @reviews.order("id desc").each do |r| %>
	<hr>
		<div class="col-md-2">
			<% if r.user.avatar_content_type == nil %>
				<%= image_tag avatar_url(r.user_id), class: "img-circle avatar-medium" %>
			<% else %>
				<%= image_tag(r.user.avatar.url(:thumb), class: "img-circle avatar-medium") %>
			<% end%>
			<br><%=r.created_at.strftime("%v")%>
		</div>
		<div class="col-md-10">
			<strong><%= r.user.fullname %> <div id="stars_<%= r.id %>"></div> </strong>
			<span class="pull-right">
				<%= link_to 'Remove My Review', [@room, r], method: :delete, data: {confirm: "Are you sure?"} if current_user && current_user == r.user%>
			</span>

		<br>
		<div><%= %></div>
		<div><%= r.comment %></div>
		<br>
				</div>
	</div>
<script>
	$("#stars_<%= r.id %>").raty({
		path: '/assets',
		readOnly: true,
		score: <%= r.star %>
	});
</script>

	<% end %>

<% end %>


<%# <div id="stars_<%= r.id because each review needs to be unique %>